{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}


{{- $author := "" -}}
{{- if not (.Param "hideAuthor") -}}
  {{- $author = partial "author.html" . -}}
{{- end -}}

{{- $tags := "" -}}
{{- if not (.Param "hideTag") -}}
  {{- $tags = partial "tags.html" . -}}
{{- end -}}

{{- if and (ne $author "") (ne $tags "") -}}
  {{- $scratch.Add "meta" (slice $author $tags) -}}
{{- else if ne $author "" -}}
  {{- $scratch.Add "meta" (slice $author) -}}
{{- else if ne $tags "" -}}
  {{- $scratch.Add "meta" (slice $tags) -}}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}} 